<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project III</title>
</head>
<body>
    <% if(blogs && blogs.length) { %>
        <h1>Blogs</h1>
        <ul>
            <% blogs.forEach(blog => { %>
                <li><a href="/blog/<%= blog.id %>"><%= blog.title %></a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <h2>No blogs yet</h2>
    <% } %>
    

    <form action="/create-new-blog" method="POST">
        <input type="text" name="title" placeholder="Blog title">
        <textarea name="content" placeholder="Blog content"></textarea>
        <input type="submit" value="Create New Blog">
    </form>
    
</body>
</html>